{% extends "base.html" %}

{% block main_content %}
    <h2>Bienvenue dans le jeu des morpions avancé</h2>
    <h3>nombres d'instances des morpions:{{ REQUEST_VARS['morpions'][0][0] }}</h3>
    <h3>nombres d'instances des équipes:{{ REQUEST_VARS['equipes'][0][0] }}</h3>
    <h3>nombres d'instances des parties:{{ REQUEST_VARS['parties'][0][0] }}</h3>

    <h3>Top 3 des équipes avec le plus des victoires</h3>
    <ul>
        {% for instance in REQUEST_VARS['top'] %}
            <li>{{instance[0]}}</li>
        {% endfor %}
    </ul>

    <h3>partie la plus rapide et la plus longue</h3>
    {% if REQUEST_VARS['duree'] and REQUEST_VARS['duree'][0] %}
        <ul>
            <li>plus rapide: {{ REQUEST_VARS['duree'][0][0] }}, {{REQUEST_VARS['duree'][0][1]}}</li>
            <li>plus longue: {{ REQUEST_VARS['duree'][1][0] }}, {{REQUEST_VARS['duree'][1][1]}}</li>
        </ul>
    {% else %}
        <p>Aucune partie terminée pour calculer la durée.</p>
    {% endif %}
{% endblock %}