<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ SESSION['DIRECTORY'] }}/static/css/style.css">
    <title>I&N</title>
</head>
<body>
    {% include 'header.html' %}
    <div class="m">
        {% include 'menu.html' %}
        <main>
            {% block main_content %} {% endblock %}
        </main>
    </div>

    {% include 'footer.html' %}
</body>
</html>